<main role="main">
    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
        <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
        </div>
        <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
        </div>
    </div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Read XML Files/Update EUIN Details</h1>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-secondary">Read XML Files</strong>
                    <p>This step is used to read the extracted XML file data and update the data to database.</p>
                    <button type="button" class="btn btn-secondary" (click)="ReadXML()">Read XML Files</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-secondary">Update EUIN Details</strong>
                    <p>This step is used to update the EUIN data from extracted files into our database.</p>
                    <button type="button" class="btn btn-secondary" (click)="UpdateEUIN()">Update EUIN Details</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" *ngIf="_lstBatchDates">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Batch Dates</span>
        <span class="badge badge-secondary badge-pill">{{_lstBatchDates.length}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0" *ngFor="let BatchDate of _lstBatchDates">{{BatchDate | date: 'dd MMM yyyy'}}</h6>
          </div>
        </li>
      </ul>
    </div>
</main>
<div *ngIf="ShowLoader" id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
opacity: .8; filter: alpha(opacity=70);">
  <p style="position: absolute; top: 30%; left: 45%; color: White;">
    <img src="../assets/ajax-loading.gif">
  </p>
</div>
<simple-notifications [options]="options"></simple-notifications>
