<div class="page-header">
    <h1>CDMS Execution Handler</h1>
    <p>CDMS updation made easy.</p>
</div>

<ul class="nav nav-tabs">
    <li [routerLinkActive]="['active']">
        <a href="#" [routerLink]="['/Step1']">Step 1</a>
    </li>
    <li [routerLinkActive]="['active']">
        <a href="#" [routerLink]="['/Step2']">Step 2</a>
    </li>
    <li [routerLinkActive]="['active']">
        <a href="#" [routerLink]="['/Step3']">Step 3</a>
    </li>
    <li [routerLinkActive]="['active']">
        <a href="#" [routerLink]="['/Step4']">Step 4</a>
    </li>
</ul>
<router-outlet></router-outlet>