/* You can add global styles to this file, and also import other style files */
.custom-modal ,.custom-modal-popup {
    max-height: calc(100vh - 410px);
    overflow-y: auto;
}

.custom-modal-popup{
    max-height: calc(100vh - 210px);
}